<template>
    <form @submit.prevent="forLogin()" action="" class="form-login">
      <div class="card">
        <div class="card-header text-center">
          <h1>Expenses</h1>
        </div>
        <div class="card-body">
          <div class="form-group">
            <input type="email" v-model="email" class="form-control" placeholder="E-mail" required>
          </div>
          <div class="form-group">
            <input type="password" v-model="password" class="form-control" placeholder="Senha" required>
          </div>
          <button class="btn btn-primary btn-block" :disabled="loading">
            <template v-if="loading">
              Entrando...
              <i class="fa fa-spinner fa-spin"></i>
            </template>
            <template v-else>
              <i class="fas fa-sign-in-alt"></i> Login
            </template>
          </button>
        </div>
      </div>
  </form>
</template>

<script>
export default {
  name: 'Login',
  data: () => {
    return {
      loading: false,
      email: '',
      password: ''
    }
  },
  methods: {
    async forLogin () {
      this.loading = true
      const { email, password } = this
      try {
        const response = await this.$firebase.auth().signInWithEmailAndPassword(email, password)
        window.uid = response.user.uid
        this.$router.push({ name: 'home' })
      } catch (error) {
        let message = ''
        switch (error.code) {
          case 'auth/user-not-foud' :
            message = 'Usuário não encontrado'
            break

          case 'auth/wrong-password':
            message = 'Senha inválida'
            break

          default :
            message = 'Não foi possível fazer login. Tente novamente!'
        }

        this.$root.$emit('Notification::show', {
          type: 'danger',
          message
        })
      }

      this.loading = false
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (window.uid) {
        vm.$router.push({ name: 'home' })
      }
    })
  }
}
</script>

<style lang="scss" scoped>
  .form-login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .card{
      width: 30%;
      color: var(--darker);
    }
  }
</style>
