<template>
  <div>
    <h1 class="text">Dashboard</h1>

  </div>
</template>

<script>
export default {
  name: 'Home',
  data: () => ({
    expenses: []
  }),
  created () {
    this.getData()
  },
  methods: {
    getData () {
      const ref = this.$firebase.database().ref(`/${window.uid}`)

      ref.on('value', data => {
        const values = data.val()
        this.expenses = values
        console.log(this.expenses)
      })
    }
  }
}
</script>

<style lang="scss">

</style>
