<template>
  <div v-if="show" :class="`alert-${type}`" class="alert alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" @click="close()">
      <span>&times;</span>
    </button>
  </div>
</template>

<script>
export default {
  data: () => ({
    show: false,
    type: 'danger',
    message: ''
  }),
  created () {
    this.$root.$on('Notification::show', payload => {
      this.show = true
      this.type = payload.type
      this.message = payload.message

      setTimeout(() => { this.close() }, payload.timeout || 4000)
    })
  },
  methods: {
    close () {
      this.message = ''
      this.type = 'danger'
      this.show = false
    }
  }
}
</script>

<style lang="scss" scoped>
  .alert{
    position: absolute;
    z-index: 1000;
    right: 10px;
    top: 50px;
    max-width: 400px;
    margin-bottom: 0;
  }
</style>
