<template>
  <div class="w-100 d-flex justify-content-center">
    <button type="buton" class="btn btn-lg btn-outline-primary w-75" @click="showModal = true">
      <i class="fas fa-plus"></i>
      Novo gasto
    </button>

    <!-- Modal -->
    <form action="" method="post" @submit.prevent="submit()">
      <div class="modal fade" :class="{show: showModal}" :style="{ display: showModal ? 'block' : 'none'}">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Adicionar novo gasto</h5>
              <button type="button" @click="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                  <div class="form-group col-8">
                    <label for="description">Descrição:</label>
                    <input type="text" class="form-control" name="description" required v-model="form.description">
                  </div>

                  <div class="form-group col-4">
                    <label for="value">Valor (R$):</label>
                    <input type="text" class="form-control" name="value" required v-model="form.value">
                  </div>

                   <div class="form-group col-12 text-center">
                    <input  ref="inputFile" type="file" class="d-none" name="fileImage" accept="image/*" @change="handleFile($event)">
                    <button type="button" class="btn btn-outline-secondary w-50" @click="openFileDialog()">Adicionar recibo</button>
                    <div class="mt-2" v-if="form.fileImage">
                      {{ form.fileImage.name }}
                      <button type="button" class="btn bagde-light" @click="form.fileImage = ''">
                        <i class="fa fa-trash text-danger"></i>
                      </button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"  @click="closeModal()">Fechar</button>
              <button class="btn btn-primary" :disabled="loading">
                <template v-if="loading">
                  <i class="fas fa-spin fa-spinner">Incluindo...</i>
                </template>

                <template v-if="loading">
                  Incluir
                </template>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="modal-backdrop fade" :style="{ display: showModal ? 'block' : 'none'}" :class="{show: showModal}"></div>
  </div>
</template>

<script>
export default {
  data: () => ({
    loading: false,
    showModal: false,
    form: {
      description: '',
      value: '',
      fileImage: ''
    }
  }),
  computed: {
    fileName () {
      const { fileImage } = this.form
      if (fileImage) {
        const split = fileImage.name.split('.')
        return `${split[0]}-${new Date().getTime()}.${split[1]}`
      } else {
        return ''
      }
    }
  },
  methods: {
    async submit () {
      let url = ''
      this.loading = true
      try {
        this.$root.$emit('Spinner::show')
        const ref = this.$firebase.database().ref(window.uid)
        const id = ref.push().key

        if (this.form.fileImage) {
          const snapshot = await this.$firebase.storage().ref(window.uid).child(this.fileName).put(this.form.fileImage)
          url = await snapshot.ref.getDownloadURL()
        }

        const payload = {
          id,
          ...this.form,
          fileImage: url,
          createAt: new Date().getTime()
        }

        ref.child(id).set(payload, err => {
          if (err) {
            this.$root.$emit('Notification::show', {
              type: 'danger',
              message: 'Não foi possível inserir o gasto, tente novamente.'
            })
            this.loading = false
          } else {
            this.$root.$emit('Notification::show', {
              type: 'success',
              message: 'Resgritro inserido com sucesso'
            })
            this.closeModal()
            this.loading = false
          }
        })
      } catch (err) {
        this.$root.$emit('Notification::show', {
          type: 'danger',
          message: 'Não foi possível inserir o gasto, tente novamente.'
        })
      } finally {
        this.$root.$emit('Spinner::hide')
        this.loading = false
      }
    },
    openFileDialog () {
      this.$refs.inputFile.value = null
      this.$refs.inputFile.click()
    },
    handleFile (event) {
      this.form.fileImage = event.target.files[0]
    },
    closeModal () {
      this.showModal = false
    }
  }
}
</script>

<style lang="scss" scoped>
.modal{
  color: var(--darker);
}
</style>
