<template>
  <nav class="nav flex-column">
    <router-link exact v-for="(router, i) in routerLinks" :key="i" :to="{ name: router.name}" class="nav-link" exact-active-class="active">
      <i class="fa" :class="`fa-${router.meta.icon}`"></i>
      {{ router.meta.title }}
    </router-link>
    <hr>
    <layout-new-expense/>
  </nav>
</template>

<script>
import LayoutNewExpense from './LayoutNewExpense'
export default {
  components: {
    LayoutNewExpense
  },
  computed: {
    routerLinks () {
      return this.$router.options.routes.filter(l => l.name !== 'login')
    }
  }
}
</script>

<style lang="scss" scoped>
.nav{
  width: 100%;
  .nav-link {
    color: var(---white);
    transition: .3s;
    &.active {
      color: var(--featured);
      background-color: transparent;
    }
    &:hover {
      background-color: var(--featured);
      color: var(--darker);
    }
  }
}
</style>
