<template>
  <div id="app">
    <base-spinner></base-spinner>
    <layout-notification/>
    <div class="container-fluid" v-if="isLogged">
      <div class="row">
        <div class="col-2 navigation-sidebar pt-2">
          <h4 class="text-center">Application</h4>
          <layout-navigation/>
        </div>
        <div class="col">
          <div class="row sidebar-top">
              <div class="col-2"><layout-logout/></div>
          </div>
          <div class="row">
            <router-view/>
          </div>
        </div>
      </div>
    </div>
    <router-view v-else/>
  </div>
</template>

<script>
import BaseSpinner from './components/global/BaseSpinner'
import LayoutNavigation from './components/layout/LayoutNavigation'
import LayoutLogout from './components/layout/LayoutLogout'
import LayoutNotification from './components/layout/LayoutNotification'

export default {
  name: 'App',
  components: {
    BaseSpinner,
    LayoutNavigation,
    LayoutLogout,
    LayoutNotification
  },
  data: () => ({
    isLogged: false
  }),
  mounted () {
    this.$firebase.auth().onAuthStateChanged(user => {
      window.uid = user ? user.uid : null
      this.isLogged = !!user
      console.log(window.uid)
      // verificação de auth user
      this.$router.push({ name: window.uid ? 'home' : 'login' })
      setTimeout(() => {
        this.$root.$emit('Spinner::hide')
      }, 300)
    })
  }
}
</script>

<style lang="scss">
  #app {
    min-height: 100vh;
    color: var(--light);
    background-color: var(--darker);
    .navigation-sidebar {
      padding: 0;
      background-color: var(--dark-medium);
      min-height: 100vh;
    }
    .sidebar-top{
      background-color: var(--dark-medium);
      justify-content: end;
    }
    #navbarToggleExternalContent{
      padding-left: 0;
    }
  }
</style>
